<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片上传</title>
    <link href="__ROOT__/resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="__ROOT__/resource/css/common.css" rel="stylesheet">
    <script type="text/javascript" src="__ROOT__/resource/js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="__ROOT__/resource/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="__ROOT__/resource/js/app/util.js"></script>
    <script type="text/javascript" src="__ROOT__/resource/js/require.js"></script>
    <script type="text/javascript" src="__ROOT__/resource/js/app/config.js"></script>
</head>
<body>
<div class="main">
    <div class="container">
        <div class="panel panel-content main-panel-content panel-content-plugin">
            <div class="panel-body clearfix main-panel-body menu-fixed">
                <div class="right-content">
                    <div class="clearfix">
                        <form action="./index.php?c=article&a=news&do=post&" method="post" class="we7-form" role="form" id="form1">

                            <div class="form-group">
                                <label class="col-xs-13 col-sm-2 col-md-2 col-lg-1 control-label">缩略图</label>
                                <div class="col-sm-8">
                                    <div class="input-group ">
                                        <input type="text" name="thumb" value="" class="form-control" autocomplete="off">
                                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="showImageDialog(this);">选择图片</button>
                             </span>
                                    </div>
                                    <div class="input-group " style="margin-top:.5em;">
                                        <img src="__ROOT__/resource/images/nopic.jpg" onerror="this.src='__ROOT__/resource/images/nopic.jpg'; this.title='图片未找到.'" class="img-responsive img-thumbnail" width="150"/>
                                        <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="deleteImage(this)">×</em>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="help-block"><input type="checkbox" id="autolitpic" name="autolitpic" value="1" checked="true">
                                        <label class="checkbox" for="autolitpic">提取内容的第一个图片为缩略图</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-13 col-sm-2 col-md-2 col-lg-1 control-label">视频</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" value="" name="video" class="form-control" autocomplete="off">
                                        <span class="input-group-btn">
                                 <button class="btn btn-default" type="button" onclick="showVideoDialog(this,{'direct':true,'multi':false,'type':'video','fileSizeLimit':5120000});">选择媒体文件</button>
                             </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-13 col-sm-2 col-md-2 col-lg-1 control-label">音频</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" value="" name="audio" class="form-control audio-player-media" autocomplete="off">
                                         <span class="input-group-btn">
                                             <button class="btn btn-default audio-player-play" type="button" style="display:none;">
                                                 <i class="fa fa-play"></i>
                                             </button>
                                             <button class="btn btn-default" type="button" onclick="showAudioDialog(this, 'YTozOntzOjY6ImRpcmVjdCI7YjoxO3M6ODoibXVsdGlwbGUiO2I6MDtzOjEzOiJmaWxlU2l6ZUxpbWl0IjtpOjUxMjAwMDA7fQ==',{'direct':true,'multiple':false,'fileSizeLimit':5120000});">选择媒体文件</button>
                                         </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-13 col-sm-2 col-md-2 col-lg-1 control-label">内容</label>
                                <div class="col-sm-8">
                                    <textarea id="content" name="content" type="text/plain" style="height:200px;"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="">
                                    <input type="submit" class="btn btn-primary" name="submit" value="提交"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!--图片上传-->
<script type="text/javascript">
    function showImageDialog(elm, opts, options) {
        require(["util"], function (util) {
            var btn = $(elm);
            var ipt = btn.parent().prev();
            var val = ipt.val();
            var img = ipt.parent().next().children();
            options = {
                'dest_dir': 'articles',
                'global': false,
                'class_extra': '',
                'direct': true,
                'multiple': false,
                'fileSizeLimit': 5120000
            };
            util.image(val, function (url) {
                if (url.url) {
                    if (img.length > 0) {
                        img.get(0).src = url.url;
                    }
                    ipt.val(url.attachment);
                    ipt.attr("filename", url.filename);
                    ipt.attr("url", url.url);
                }
                if (url.media_id) {
                    if (img.length > 0) {
                        img.get(0).src = "";
                    }
                    ipt.val(url.media_id);
                }
            }, options);
        });
    }
    function deleteImage(elm) {
        require(["jquery"], function ($) {
            $(elm).prev().attr("src", "__ROOT__/resource/images/nopic.jpg");
            $(elm).parent().prev().find("input").val("");
        });
    }
</script>

<!--内容-->
<script type="text/javascript" src="__ROOT__/resource/components/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__ROOT__/resource/components/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="__ROOT__/resource/components/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
    var ueditoroption = {
        'autoClearinitialContent': false,
        'toolbars': [['fullscreen', 'source', 'preview', '|', 'bold', 'italic', 'underline', 'strikethrough', 'forecolor', 'backcolor', '|',
            'justifyleft', 'justifycenter', 'justifyright', '|', 'insertorderedlist', 'insertunorderedlist', 'blockquote', 'emotion',
            'link', 'removeformat', '|', 'rowspacingtop', 'rowspacingbottom', 'lineheight', 'indent', 'paragraph', 'fontsize', '|',
            'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol',
            'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', '|', 'anchor', 'map', 'print', 'drafts']],
        'elementPathEnabled': false,
        'initialFrameHeight': 200,
        'focus': false,
        'maximumWords': 9999999999999
    };
    var opts = {
        type: 'image',
        direct: false,
        multiple: true,
        tabs: {
            'upload': 'active',
            'browser': '',
            'crawler': ''
        },
        path: '',
        dest_dir: '',
        global: false,
        thumb: false,
        width: 0,
        fileSizeLimit: 5120000
    };
    UE.registerUI('myinsertimage', function (editor, uiName) {
        editor.registerCommand(uiName, {
            execCommand: function () {
                require(['fileUploader'], function (uploader) {
                    uploader.show(function (imgs) {
                        if (imgs.length == 0) {
                            return;
                        } else if (imgs.length == 1) {
                            editor.execCommand('insertimage', {
                                'src': imgs[0]['url'],
                                '_src': imgs[0]['attachment'],
                                'width': '100%',
                                'alt': imgs[0].filename
                            });
                        } else {
                            var imglist = [];
                            for (i in imgs) {
                                imglist.push({
                                    'src': imgs[i]['url'],
                                    '_src': imgs[i]['attachment'],
                                    'width': '100%',
                                    'alt': imgs[i].filename
                                });
                            }
                            editor.execCommand('insertimage', imglist);
                        }
                    }, opts);
                });
            }
        });
        var btn = new UE.ui.Button({
            name: '插入图片',
            title: '插入图片',
            cssRules: 'background-position: -726px -77px',
            onclick: function () {
                editor.execCommand(uiName);
            }
        });
        editor.addListener('selectionchange', function () {
            var state = editor.queryCommandState(uiName);
            if (state == -1) {
                btn.setDisabled(true);
                btn.setChecked(false);
            } else {
                btn.setDisabled(false);
                btn.setChecked(state);
            }
        });
        return btn;
    }, 19);

    UE.registerUI('myinsertvideo', function (editor, uiName) {
        editor.registerCommand(uiName, {
            execCommand: function () {
                require(['fileUploader'], function (uploader) {
                    uploader.show(function (video) {
                        if (!video) {
                            return;
                        } else {
                            var videoType = video.isRemote ? 'iframe' : 'video';
                            editor.execCommand('insertvideo', {
                                'url': video.url,
                                'width': 300,
                                'height': 200
                            }, videoType);
                        }
                    }, {
                        fileSizeLimit: 5120000,
                        type: 'video',
                        allowUploadVideo: true
                    });
                });
            }
        });
        var btn = new UE.ui.Button({
            name: '插入视频',
            title: '插入视频',
            cssRules: 'background-position: -320px -20px',
            onclick: function () {
                editor.execCommand(uiName);
            }
        });
        editor.addListener('selectionchange', function () {
            var state = editor.queryCommandState(uiName);
            if (state == -1) {
                btn.setDisabled(true);
                btn.setChecked(false);
            } else {
                btn.setDisabled(false);
                btn.setChecked(state);
            }
        });
        return btn;
    }, 20);

    $(function () {
        var ue = UE.getEditor('content', ueditoroption);
        $('#content').data('editor', ue);
        $('#content').parents('form').submit(function () {
            if (ue.queryCommandState('source')) {
                ue.execCommand('source');
            }
        });
    });
</script>

<!--音频上传-->
<script type="text/javascript">
    function showAudioDialog(elm, base64options, options) {
        require(["util"], function (util) {
            var btn = $(elm);
            var ipt = btn.parent().prev();
            var val = ipt.val();
            util.audio(val, function (url) {
                if (url && url.attachment && url.url) {
                    btn.prev().show();
                    ipt.val(url.attachment);
                    ipt.attr("filename", url.filename);
                    ipt.attr("url", url.url);
                    setAudioPlayer();
                }
                if (url && url.media_id) {
                    ipt.val(url.media_id);
                }
            }, "", {
                "direct": true,
                "multiple": false,
                "fileSizeLimit": 5120000
            });
        });
    }

    function setAudioPlayer() {
        require(["jquery", "util", "jquery.jplayer"], function ($, u) {
            $(function () {
                $(".audio-player").each(function () {
                    $(this).prev().find("button").eq(0).click(function () {
                        var src = $(this).parent().prev().val();
                        if ($(this).find("i").hasClass("fa-stop")) {
                            $(this).parent().parent().next().jPlayer("stop");
                        } else {
                            if (src) {
                                $(this).parent().parent().next().jPlayer("setMedia", {mp3: u.tomedia(src)}).jPlayer("play");
                            }
                        }
                    });
                });

                $(".audio-player").jPlayer({
                    playing: function () {
                        $(this).prev().find("i").removeClass("fa-play").addClass("fa-stop");
                    },
                    pause: function (event) {
                        $(this).prev().find("i").removeClass("fa-stop").addClass("fa-play");
                    },
                    swfPath: "resource/components/jplayer",
                    supplied: "mp3"
                });
                $(".audio-player-media").each(function () {
                    $(this).next().find(".audio-player-play").css("display", $(this).val() == "" ? "none" : "");
                });
            });
        });
    }
    setAudioPlayer();
</script>
<script type="text/javascript">
    function showAudioDialog(elm, base64options, options) {
        require(["util"], function (util) {
            var btn = $(elm);
            var ipt = btn.parent().prev();
            var val = ipt.val();
            util.audio(val, function (url) {
                if (url && url.attachment && url.url) {
                    btn.prev().show();
                    ipt.val(url.attachment);
                    ipt.attr("filename", url.filename);
                    ipt.attr("url", url.url);
                    setAudioPlayer();
                }
                if (url && url.media_id) {
                    ipt.val(url.media_id);
                }
            }, "", {
                "direct": true,
                "multiple": false,
                "fileSizeLimit": 5120000
            });
        });
    }

    function setAudioPlayer() {
        require(["jquery", "util", "jquery.jplayer"], function ($, u) {
            $(function () {
                $(".audio-player").each(function () {
                    $(this).prev().find("button").eq(0).click(function () {
                        var src = $(this).parent().prev().val();
                        if ($(this).find("i").hasClass("fa-stop")) {
                            $(this).parent().parent().next().jPlayer("stop");
                        } else {
                            if (src) {
                                $(this).parent().parent().next().jPlayer("setMedia", {mp3: u.tomedia(src)}).jPlayer("play");
                            }
                        }
                    });
                });

                $(".audio-player").jPlayer({
                    playing: function () {
                        $(this).prev().find("i").removeClass("fa-play").addClass("fa-stop");
                    },
                    pause: function (event) {
                        $(this).prev().find("i").removeClass("fa-stop").addClass("fa-play");
                    },
                    swfPath: "resource/components/jplayer",
                    supplied: "mp3"
                });
                $(".audio-player-media").each(function () {
                    $(this).next().find(".audio-player-play").css("display", $(this).val() == "" ? "none" : "");
                });
            });
        });
    }
    setAudioPlayer();
</script>

<!--视频上传-->
<script type="text/javascript">
    function showVideoDialog(elm, options) {
        require(["util"], function (util) {
            var btn = $(elm);
            var ipt = btn.parent().prev();
            var val = ipt.val();
            util.audio(val, function (url) {
                if (url && url.attachment && url.url) {
                    btn.prev().show();
                    ipt.val(url.attachment);
                    ipt.attr("filename", url.filename);
                    ipt.attr("url", url.url);
                }
                if (url && url.media_id) {
                    ipt.val(url.media_id);
                }
            }, {
                "direct": true,
                "multi": false,
                "type": "video",
                "fileSizeLimit": 5120000
            });
        });
    }

</script>
<script type="text/javascript">
    function showVideoDialog(elm, options) {
        require(["util"], function (util) {
            var btn = $(elm);
            var ipt = btn.parent().prev();
            var val = ipt.val();
            util.audio(val, function (url) {
                if (url && url.attachment && url.url) {
                    btn.prev().show();
                    ipt.val(url.attachment);
                    ipt.attr("filename", url.filename);
                    ipt.attr("url", url.url);
                }
                if (url && url.media_id) {
                    ipt.val(url.media_id);
                }
            }, {
                "direct": true,
                "multi": false,
                "type": "video",
                "fileSizeLimit": 5120000
            });
        });
    }

</script>


